$btn-highlight: #3D3D3D;

.button {
  height: 5.6rem;
  min-width: 7.1rem;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
  background-color: $primary;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03rem;
  margin: 0 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.secondary):hover {
    opacity: 0.9;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: $btn-highlight;
  }

  &:disabled {
    background-color: $bg-tertiary;
  }

  &.secondary {
    background-color: $secondary;
    border: 1px solid $outline;
    color: rgba(0,0,0,.87);
  
    &:hover {
      background-color: $bg-secondary;
    }
    &:active,
    &:focus {
      background-color: $bg-tertiary;
    }
  }

  &.wide {
    width: 100%;
  }
  

  @media (min-width: 768px) {
    &.wide {
      width: 34rem;
    }
  }
}

.icon {
  display: grid;
  place-items: center;
}