.card-container {
  border-radius: 2.4rem;
  height: 26rem;
  width: 100%;
  background-color: $error;
  padding: 1.2rem;
  opacity: 0.9;
  border: 0.4rem solid transparent;


  h1 {
    color: $secondary;
    text-transform: uppercase;
    line-height: 1;
    word-wrap: break-word;
    font-size: 4rem;
  }

  &.active {
    border-color: $accent;
    opacity: 1;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 4.8rem;
    }
  }
}