.input-wrapper {
  padding: 1.6rem 0 0.8rem;
}

.input-container {
  border: 1px solid;
  height: 4.8rem;
  border-radius: 0.8rem;
  position: relative;
  background-color: $secondary;
  border-color: $outline;

  &:hover {
    border-color: $primary;
  }

  legend {
    position: absolute;
    top: 0;
    background-color: $secondary;
    left: 0.8rem;
    transform: translate(0, -2px) scaleX(0);
    transform-origin: top left;
    transition: transform 300ms ease;
    color: transparent;
    padding-right: 0.4rem;
  }

  label {
    position: absolute;
    color: rgba(0,0,0,0.5);
    font-size: 1.4rem;
    left: 0.8rem;
    transform: translate(0, 1.4rem);
    transform-origin: top left;
    transition: transform 300ms ease;
    pointer-events: none;
  }

  input {
    padding-left: 0.8rem;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    border-radius: inherit;
    transition: box-shadow 300ms ease;
  }

  &:focus-within,
  &.has-value {
    label {
      transform: translate(0, -50%) scale(.75);
    }

    legend {
      transform: translate(0, -2px) scaleX(1);
    }
  }

  &:focus-within {
    input {
      outline: none;
      box-shadow: 0 0 0 2px $accent;
    }
  }
}

.message {
  margin: 0.4rem 0.8rem;
  display: block;
  color:rgba(0,0,0,0.6);
}