$primary: #000000;
$secondary: #FFFFFF;
$accent: #A79291;

$error: #B00020;
$warning: #FFC043;
$success: #257E5A;

$bg-primary: #FFFFFF;
$bg-secondary: #F6F6F6;
$bg-tertiary: #EEEEEE;

$outline: rgba(0,0,0,0.12);