.simple-header {
  height: 8rem;
  position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  background-color: $bg-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}